
@keyframes  fadein{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
html{
    position:absolute;
    height:100%;
    width:100%;
    background: linear-gradient(180deg, rgba(215, 215, 215, 1) 0%, rgba(213, 53, 212, 1) 71%, rgba(138, 127, 127, 1) 100%);
    font-family:'Open Sans', sans-serif;
    font-weight:bold;
}
#topBar{
    position:sticky;
    width:100%;
    height:6vh;
    padding:0;
    margin:0;
    background-color:black;
    color:white;
    line-height:4;
    font-size:1.5vh
}
#nextBar{
    width:100%;
    height:10.5vh;
    padding:0;
    margin:0;
    background-color:white;
    color:black;
    word-spacing:5vh;
    text-align:center;
    line-height:5;
    display:flex;
    flex-wrap:wrap;
}
#nextBar div{
    width:40vh;
    cursor:pointer;
}
#main,#mainAccessories,#mainPersonalize,#mainNecklaces{
    height:84vh;
    width:100%;
    background-size:100% 100%;
    background-repeat:no-repeat;
}
#main{
    background-image: url("real_images/mainbracelets.jpg");
}
#mainAccessories{
    background-image: url("real_images/accessoriesmain.jpg");
}
#mainPersonalize{
    background-image: url("real_images/mainpersonalize.jpg");
}
#mainNecklaces{
    background-image: url("real_images/mainnecklace.jpg");
}
.mainImage{
    position:absolute;
    height:71vh;
    width:100%;
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-image: url(real_images/pretty-bracelet-cvr.jpg);
}
#centerText{
    position:absolute;
    margin:auto;
    text-align:center;
    top:0;
    left:86vh;
}
body{
    margin:0;
    padding:0;
}
button{
    height:6vh;
    background-color:black;
    color:lightblue;
    font-family:'Open Sans', sans-serif;
    font-weight:bold;
}
#accountButton{
    position:absolute;
    right:21vh;
}
#signButton{
    position:absolute;
    right:13vh;
}
#imageText{
    line-height:11;
    color:white;
    font-size:6vh;
    margin-left:20vh;
    z-index: +4;
    animation:fadein 5s;
    position:relative;
}
.far{
    position:absolute;
    right:10vh;
    top:2vh;
}
#braceletContainer{
    display:flex;
    flex-wrap:wrap;
    margin:2vh;
    margin-top:12vh;
    text-align:center;
}
.imageTable{
    height:38vh;
    width:47.1vh;
    margin:1vh;
    border-radius:4px;
    box-shadow:4px 4px 9px;
    cursor:pointer;
    position:relative;
    top:72vh;
}
.braceText{
    position:relative;
    top:72vh;
}
#smallText{
    position:absolute;
    line-height:163vh;
    left:91.6vh;
    font-size:1.5vh
}
#biggerImage{
    height:60vh;
    margin-top:19vh;
    margin-left:41vh;
    border-radius:4px;
    box-shadow: 8px 7px 8px;
}
#category{
    position:absolute;
    left:9vh;
    top:23vh;
    font-size:1.3vh;
}
#rightColumn{
    position:absolute;
    height:68vh;
    width:40vh;
    right:38vh;
    top:28vh;
    text-align:center;
    border-radius:4px;
    box-shadow:5px 5px 8px;
    line-height:3;

}
#addCart{
    position:absolute;
    top:50vh;
    left:14vh;
}
#quantity{
    margin-top:15vh;
    display:flex;
    flex-wrap:wrap;
    margin-left:9vh;
    margin-bottom:7vh;
}
#color{
    display:flex;
    flex-wrap:wrap;
    margin-left:16vh;
}
#red{
    background-color:red;
    height:2vh;
    width:2vh;
    border-radius:10px;
    margin:3px;

}
#green{
    background-color:green;
    height:2vh;
    width:2vh;
    border-radius:10px;
    margin:3px;

}
#blue{
    background-color:blue;
    height:2vh;
    width:2vh;
    border-radius:10px;
    margin:3px;
}
#minus{
    border-style:solid;
    width:7vh;
    height:4vh;
    line-height:2;
    border-width:1px;
}
#box{
    border-style:solid;
    width:7vh;
    height:4vh;
    border-width:1px;
}
#plus{
    border-style:solid;
    width:7vh;
    height:4vh;
    line-height:2;
    border-width:1px;
}
#quanWord{
    position:absolute;
    top:22vh;
    left:15vh;
}
#createAccount,#accountSub{
    text-align:center;
}
#leftForm{
    display:flex;
    flex-wrap:wrap;
    text-align:center;
    padding-left:80vh;
    padding-right:80vh;
}
#createButton{
    position:absolute;
    left:80vh;
    margin-top:2vh;
    width:30vh;
}
input{
    height:6vh;
    width:50vh;
    margin-top:2vh;
}
#sms{
    background-color:cadetblue;
    text-align:center;
    font-size:1.5vh;
    height:12vh;
}
#smsButton{
    height:6.5vh;
    width:14vh;
}
#bottomBar{
    word-spacing:5vh;
    text-align:center;
    background-color:black;
    color:white;
    line-height:4;
    height:11vh;
}
#social{
    margin-right:2vh;
    font-size:3vh;
    position:absolute;
    right:0;
    top:295vh;
}
.hidden{
    display:none;
}
.mainBackground img{
    height:71vh;
    width:100%;
    background-size:100% 100%;
    background-repeat:no-repeat;
    animation:fadein 4s;
}
#black{
    background-color:black;
    color:white;
    height:10.5vh;
}
a:link, a:visited {
    color:black;
    text-decoration: none;
    cursor: auto;

}

a:link:active, a:visited:active {
    color:black;

}
#logo img{
    height:10.5vh;
    width:41vh;
    box-shadow:4px 2px 13px;
}