@keyframes sideAnimation{
    from{
        bottom:100vh;
    }
    to{
        bottom:0vh;
    }
}
@keyframes letterAnimation {
    from {
        opacity: 0;
        letter-spacing: 4px;
    }
    to {
        opacity: 1;
        letter-spacing: 0;
    }
}
@keyframes detailsAnimation{
    from{
        padding-top:35vh;
    }
    to{
        padding-top:30vh;
    }
}
body{
    margin:0;
    padding:0;
    background-image: url(images/rest-background.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-color:beige;
    overflow-x: hidden;
}
#sideBar{
    animation-name:sideAnimation;
    animation-duration:1.5s;
    position:fixed;
    padding:0;
    margin:0;
    background-color:#291212;
    height:100%;
    width:45vh;
    color:white;
    font-family:'Open Sans', sans-serif;
    text-align:center;
    z-index:+10;
}
#sideLogo{
    padding:3vh;
    padding-bottom:4vh;
    cursor:pointer;
}
#sideLogo img{
    height:30vh;
    width:30vh;
    transition:box-shadow 0.2s;
    box-shadow:0px 0px 0px 0px  white;
}
#sideLogo img:hover{
    box-shadow:0px 0px 20px 2px  white;
}
#sideButtons{
    line-height:10vh;
    cursor:pointer;
    font-size:2vh;
}
#menuButton{
    text-shadow:-130px 0px 0px #291212;
    transition:background-color 0.25s,text-shadow 0.25s;
}
#aboutButton{
    text-shadow:-130px 0px 0px #291212;
    transition:background-color 0.25s,text-shadow 0.25s;
}
#galleryButton{
    text-shadow:-130px 0px 0px #291212;
    transition:background-color 0.25s,text-shadow 0.25s;
}
#contactButton{
    text-shadow:-130px 0px 0px #291212;
    transition:background-color 0.25s,text-shadow 0.25s;
}
#menuButton:hover{
    text-shadow:0px 1px 1px black;
    background-color:white;
    color:black;
}
#aboutButton:hover{
    text-shadow:0px 1px 1px black;
    background-color:white;
    color:black;
}
#galleryButton:hover{
    text-shadow:0px 1px 1px black;
    background-color:white;
    color:black;
}
#contactButton:hover{
    text-shadow:0px 1px 1px black;
    background-color:white;
    color:black;
}
#address{
    padding-top:7vh;
    font-size:2vh;
}
#phoneNumber{
    color:#adab2d;
    font-size:2vh;
}
#reserveButton{
    font-family:'Open Sans', sans-serif;
    font-size:2vh;
    height:6vh;
    width:20vh;
    cursor:pointer;
    position:absolute;
    bottom:2vh;
    left:12.5vh;
    transition:color 0.3s,bottom 0.3s,box-shadow 0.3s;
}
#reserveButton:hover{
    color:#291212;
    bottom:4vh;
    box-shadow:8px 8px 5px black;
}
#textImage{
    color:white;
    font-family: 'BioRhyme', serif;
    font-weight:bold;
    position:absolute;
    top:40vh;
    left:80vh;
    font-size:5.5vh;
    text-shadow:1px 4px 2px black;
    animation: letterAnimation 2s ease;
}
#food{
    position:absolute;
    top:100vh;
    width:100%;
    left:45vh;
    line-height:4;
    background-color:#faeee1;
    padding-top:10vh;
    font-family:'Open Sans', sans-serif;
}
hr{
    width:100%;
}
.foodTitle{
    padding-left:20vh;
    padding-top:10vh;
    font-size:2.5vh;
}
.foodList{
    display:flex;
    flex-wrap:wrap;
    padding-left:20vh;
    font-size:2vh;
}
.list{
    padding:2vh;
    width:23%;
}
#hotTitle{
    font-family:'Open Sans', sans-serif;
}
#foodPics{
    height:39vh;
    width:75%;
    margin:0;
    padding:0;
    position:absolute;
    top:120vh;
    display:flex;
    flex-wrap:wrap;
    z-index:+1;
    left:25%;

}
#foodPics img{
    height:35vh;
    width:24%;
    padding:2px;

}
#hotTitle{
    z-index: +1;
}
#item1{
    color:white;
}
.details{
    color:black;
    background-color:#faeee1;
    font-size:2.5vh;
    font-family:'Open Sans', sans-serif;
    width:36.33vh;
    height:6vh;
    margin:0;
    padding:0;
}
#foodGroup{
    position:absolute;
    display:flex;
    flex-wrap:wrap;
    text-align:center;
    top:0vh;
    left:-0.25vh;
    cursor:pointer;
}
#details1hov{
    width:97%;
    z-index:+5;
    margin:2px;
    padding-top:35vh;
    transition:padding-top 0.35s;
}
#details2hov{
    width:97%;
    z-index:+5;
    margin:2px;
    padding-top:35vh;
    transition:padding-top 0.35s;
}
#details3hov{
    width:97%;
    z-index:+5;
    margin:2px;
    padding-top:35vh;
    transition:padding-top 0.35s;
}
#details4hov{
    width:97%;
    z-index:+5;
    margin:2px;
    padding-top:35vh;
    transition:padding-top 0.35s;
}
#details1hov:hover{
    padding-top:29.7vh;
}
#details2hov:hover{
    padding-top:29.7vh;
}
#details3hov:hover{
    padding-top:29.7vh;
}
#details4hov:hover{
    padding-top:29.7vh;
}
#burgerBackground{
    margin:0;
    padding:0;
    height:100vh;
    width:280vh;
}
#burgerBackground img{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    object-fit:fill;
}
a:link, a:visited {
    color:white;
    text-decoration: none;
    cursor: pointer;
}
#hideDetails{
    background-color:#faeee1;
    height:5vh;
    width:141vh;
    z-index: +5;
}
#contactBackground{
    margin:0;
    padding:0;
    height:100vh;
    width:270vh;
}
#contactBackground img{
    height:100%;
    width:100%;
}#answerQuestions{
     padding-left:20%;
     padding-top:10vh;
     font-family:'Open Sans', sans-serif;
     font-size:4vh;
 }
#contactH{
    width:100%;
    padding:0;
    margin:0;
    padding-top:10vh;
}
#leftForm{
    display:flex;
    flex-wrap:wrap;
    width:80vh;
    position:absolute;
    left:17%;
}
#submitButton{
    position:absolute;
    top:100%;
    margin-bottom:20vh;
    height:8vh;
    width:15vh;
    background-color:black;
    color:white;
    border-color:black;
    font-family:'Open Sans', sans-serif;
    cursor:pointer;
    transition:color 0.3s,top 0.3s,box-shadow 0.3s;
}
#submitButton:hover{
    color:lightblue;
    top:98%;
    box-shadow:8px 8px 5px #5B504E;
}
input{
    width:80vh;
    padding:2vh;
    margin-bottom:2vh;
}
#contactMessage{
    height:15vh;
}
#galleryDisplay{
    height:75vh;
    width:126vh;
    position:relative;
    bottom:135vh;
    left:6%;
    box-shadow:8px 8px 8px black;
    display:flex;
    overflow:hidden;
}
#galleryContainer img{
    height:100%;
    width:100%;
}
#arrowLeft{
    position:absolute;
    font-size:6vh;
    left:2vh;
    top:34vh;
    color:white;
    box-shadow:4px 4px 4px black;
    border-radius:50px;
    text-shadow:4px 4px 4px black;
    background-color:rgba(100,100,100,0.4);
    cursor:pointer;
    transition:box-shadow 0.2s,top 0.2s;
}
#arrowRight{
    position:absolute;
    font-size:6vh;
    top:34vh;
    right:2vh;
    color:white;
    box-shadow:4px 4px 4px black;
    border-radius:50px;
    text-shadow:4px 4px 4px black;
    background-color:rgba(100,100,100,0.4);
    cursor:pointer;
    transition:box-shadow 0.2s,top 0.2s;
}
#arrowLeft:hover{
    box-shadow:8px 8px 6px black;
    top:33vh;
}
#arrowRight:hover{
    box-shadow:8px 8px 6px black;
    top:33vh;
}
#galleryContainer{
    position:relative;
    display:flex;
}

@media only screen and (max-width: 1440px){

    #sideBar{
        width:100%;
        height:10%;
        position:fixed;
        display:flex;
        flex-wrap:wrap;
    }
    #sideLogo{
        top:0;
        margin:0;
        padding:0;
        position:absolute;
    }
    #sideLogo img{
        width:12vh;
        height:10vh;
    }
    #sideButtons{
        display:flex;
        flex-wrap:wrap;
        left:37%;
        position:absolute;
        width:50%;
    }
    #menuButton{
        width:15vh;
        text-shadow:-1000px 0px 0px #291212;

    }
    #aboutButton{
        width:15vh;
        text-shadow:-1000px 0px 0px #291212;

    }
    #galleryButton{
        width:15vh;
        text-shadow:-1000px 0px 0px #291212;

    }
    #contactButton{
        width:15vh;
        text-shadow:-1000px 0px 0px #291212;
    }
    #address{
        position:absolute;
        left:8.5%;
    }
    #phoneNumber{
        position:absolute;
        left:8.5%;
        top:40%;
    }
    #reserveButton{
        left:85%;
        height:8vh;
        top:1vh;
    }
    #textImage{
        left:20%;
    }
    #foodPics{
        left:13%;
    }
    #food{
        left:0;
    }
}
