#canvas{
    position:relative;
    top:6vh;
    left:42%;
}
h3, h2 {
    position:relative;
    top:6vh;
    left:42%;
}
body{
    background-image: url("flappyimages/backgroundimage.jpg");
    overflow:hidden;
}